<center>

<h3>Aby zostać naszym klientem umów się na wizytę:<br><br></h3>
<h4>
  - przez stronę www:
  <a href="http://greenfitdiety.pl/" target="_blank" style="font-size: 1.8rem; font-weight: bold; color: black">
    greenfitdiety.pl
  </a><br><br>
  - telefonicznie:  <b>500-126-496</b><br><br>
  - mailowo: <b>ula.bulanda92@gmail.com</b><br>
</h4>

</center>
